@media (max-width: 768px) {
    .testIcons {
        display: none;
    }

    .BannerImg {
        display: none;
    }

    .LearnMoreBtn {
        margin: 0 auto;
    }
}

@media (min-width: 768.5px) {
    .bannerText {
        width: 25%;
    }
}
