@media (max-width: 768px) {
    .testIcons {
        display: none;
    }

    .BannerImg {
        display: none;
    }

    .LearnMoreBtn {
        margin: 5px auto;
    }
}

@media (min-width: 768.5px) {
    .bannerText {
        width: 25%;
    }

    .LearnMoreBtn {
        margin-left: 10px;
    }
}

.react-datepicker-wrapper {
    width: 100%;
}
